################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultipleHash2005/bin
/MultipleHash2005/obj
/MultipleHash2008/bin
/MultipleHash2008/obj
/MultipleHash2008Test/bin
/MultipleHash2008Test/obj
/MultipleHash2012/bin
/MultipleHash2012/obj
/MultipleHash2012Test/bin
/MultipleHash2012Test/obj
/MultipleHash2014/bin
/MultipleHash2014/obj
/MultipleHash2016/bin
/MultipleHash2016/obj
/MultipleHashInstallerx32/bin
/MultipleHashInstallerx32/obj
/MultipleHashInstallerx64/bin
/MultipleHashInstallerx64/obj
