################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultipleHash/v14/.suo
/MultipleHash2005/bin/Debug
/MultipleHash2005/obj/Debug
/MultipleHash2008/bin/Debug
/MultipleHash2008/obj/Debug
/MultipleHash2008Test/obj/Debug
/MultipleHash2012/bin/Debug
/MultipleHash2012/obj/Debug
/MultipleHash2012Test/bin/Debug
/MultipleHash2012Test/obj/Debug
/MultipleHash2014/bin/Debug
/MultipleHash2014/obj/Debug
/MultipleHash2016/bin/Debug
/MultipleHash2016/obj/Debug
/MultipleHash2005/bin/Release
/MultipleHash2005/obj/Release
/MultipleHash2008/bin/Release
/MultipleHash2008/obj/Release
/MultipleHash2008Test/obj/Release
/MultipleHash2012/bin/Release
/MultipleHash2012/obj/Release
/MultipleHash2012Test/obj/Release
/MultipleHash2014/bin/Release
/MultipleHash2014/obj/Release
/MultipleHash2016/bin/Release
/MultipleHash2016/obj/Release
/MultipleHashInstallerx32/bin/Release
/MultipleHashInstallerx32/obj/Release
/MultipleHashInstallerx64/bin
/MultipleHashInstallerx64/obj
