<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ProductVersion = "1.7.7.0"?>
	<?define UpgradeCode = "8E49EA91-5400-4782-B9C2-DBA091F563D4"?>
	<?define Manufacturer = "Keith Martin"?>
	<?define PackageCode = "*"?>

	<Product Id="*"
			 Name="Multiple Hash x64"
			 Language="1033"
			 Version="$(var.ProductVersion)"
			 Manufacturer="$(var.Manufacturer)"
			 UpgradeCode="$(var.UpgradeCode)">

		<Package Id="$(var.PackageCode)"
				 Description="Multiple Hash SSIS Transformation Component"
				 Comments="Installs version $(var.ProductVersion) of the dll's required for this component to work."
				 InstallerVersion="300"
				 Manufacturer="$(var.Manufacturer)"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Platform="x64"/>

		<Property Id="ARPHELPLINK" Value="https://github.com/keif888/SSISMHash/" />

		<Media Id="1" Cabinet="HultipleHash.cab" EmbedCab="yes" />

		<MajorUpgrade
		  Schedule="afterInstallInitialize"
		  DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>

		<UIRef Id="WixUI_Mondo"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.MultipleHash2025.ProjectDir)\License.rtf" />

		<!-- Override the Wix default actions.xml values as there is not enough space between AppSearch and LaunchConditions -->
		<InstallExecuteSequence>
			<AppSearch Sequence="50"></AppSearch>
			<LaunchConditions Sequence="200"></LaunchConditions> <!-- Original Value = 100, next sequence is 500 -->
		</InstallExecuteSequence>

		<InstallUISequence>
			<AppSearch Sequence="50"></AppSearch>
			<LaunchConditions Sequence="200"></LaunchConditions> <!-- Original Value = 100, next sequence is 500 -->
		</InstallUISequence>
		
		<!-- 
          The following works by creating 2 properties which may contain directory paths (where found in the reigstry).
          These properties are looked at progressively setting the SSIS____PATH, until one sets the path.
          Once the path is set, all subsequent ones are excluded by the condition.
          If neither of the registry keys has a value, then a default normally valid path is used so a custom install will have the correct(ish) path's, when forcing installation where SSIS isn't detected.
          
          This prevents the filesystem detection overriding the registry locations for where SQL Server SSIS is installed.
    -->
		<!-- Detect folder for SQL 2025 x64 installation -->

		<Property Id="SSIS64_2025_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2025_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\SSIS\Setup\DTSPath" Win64="yes"/>
		</Property>
		<Property Id="SSIS64_2025_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2025_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\DTS\Setup" Name="SQLPath" Win64="yes"/>
		</Property>

		<Property Id="SSIS64_2025_PATH" Secure="yes" />
		<SetProperty Action="SSIS64_2025_PATH_a" Id="SSIS64_2025_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS64_2025_PATH_a1" Id="SSIS64_2025_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2025_PATH_1]">SSIS64_2025_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2025_PATH_a2" Id="SSIS64_2025_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2025_PATH_2]">SSIS64_2025_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2025_PATH_a3" Id="SSIS64_2025_PATH" Sequence="both" After="AppSearch" Value="[ProgramFiles64Folder]\Microsoft SQL Server\170\DTS">SSIS64_2025_PATH=""</SetProperty>

		<!-- Detect folder for SQL 2025 x86 installation -->

		<Property Id="SSIS32_2025_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2025_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2025_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2025_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\DTS\Setup" Name="SQLPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2025_PATH" Secure="yes" />
		<SetProperty Action="SSIS32_2025_PATH_a" Id="SSIS32_2025_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS32_2025_PATH_a1" Id="SSIS32_2025_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2025_PATH_1]">SSIS32_2025_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2025_PATH_a2" Id="SSIS32_2025_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2025_PATH_2]">SSIS32_2025_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2025_PATH_a3" Id="SSIS32_2025_PATH" Sequence="both" After="AppSearch" Value="[ProgramFilesFolder]\Microsoft SQL Server\170\DTS">SSIS32_2025_PATH=""</SetProperty>

		<!-- Detect folder for SQL 2022 x64 installation -->

		<Property Id="SSIS64_2022_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2022_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\SSIS\Setup\DTSPath" Win64="yes"/>
		</Property>
		<Property Id="SSIS64_2022_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2022_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\DTS\Setup" Name="SQLPath" Win64="yes"/>
		</Property>

		<Property Id="SSIS64_2022_PATH" Secure="yes" />
		<SetProperty Action="SSIS64_2022_PATH_a" Id="SSIS64_2022_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS64_2022_PATH_a1" Id="SSIS64_2022_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2022_PATH_1]">SSIS64_2022_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2022_PATH_a2" Id="SSIS64_2022_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2022_PATH_2]">SSIS64_2022_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2022_PATH_a3" Id="SSIS64_2022_PATH" Sequence="both" After="AppSearch" Value="[ProgramFiles64Folder]\Microsoft SQL Server\160\DTS">SSIS64_2022_PATH=""</SetProperty>
		
		<!-- Detect folder for SQL 2022 x86 installation -->

		<Property Id="SSIS32_2022_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2022_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2022_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2022_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\DTS\Setup" Name="SQLPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2022_PATH" Secure="yes" />
		<SetProperty Action="SSIS32_2022_PATH_a" Id="SSIS32_2022_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS32_2022_PATH_a1" Id="SSIS32_2022_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2022_PATH_1]">SSIS32_2022_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2022_PATH_a2" Id="SSIS32_2022_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2022_PATH_2]">SSIS32_2022_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2022_PATH_a3" Id="SSIS32_2022_PATH" Sequence="both" After="AppSearch" Value="[ProgramFilesFolder]\Microsoft SQL Server\160\DTS">SSIS32_2022_PATH=""</SetProperty>

		<!-- Detect folder for SQL 2019 x64 installation -->

		<Property Id="SSIS64_2019_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2019_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\SSIS\Setup\DTSPath" Win64="yes"/>
		</Property>
		<Property Id="SSIS64_2019_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2019_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\DTS\Setup" Name="SQLPath" Win64="yes"/>
		</Property>

		<Property Id="SSIS64_2019_PATH" Secure="yes" />
		<SetProperty Action="SSIS64_2019_PATH_a" Id="SSIS64_2019_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS64_2019_PATH_a1" Id="SSIS64_2019_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2019_PATH_1]">SSIS64_2019_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2019_PATH_a2" Id="SSIS64_2019_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2019_PATH_2]">SSIS64_2019_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2019_PATH_a3" Id="SSIS64_2019_PATH" Sequence="both" After="AppSearch" Value="[ProgramFiles64Folder]\Microsoft SQL Server\150\DTS">SSIS64_2019_PATH=""</SetProperty>

		<!-- Detect folder for SQL 2019 x86 installation -->

		<Property Id="SSIS32_2019_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2019_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2019_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2019_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\DTS\Setup" Name="SQLPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2019_PATH" Secure="yes" />
		<SetProperty Action="SSIS32_2019_PATH_a" Id="SSIS32_2019_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS32_2019_PATH_a1" Id="SSIS32_2019_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2019_PATH_1]">SSIS32_2019_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2019_PATH_a2" Id="SSIS32_2019_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2019_PATH_2]">SSIS32_2019_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2019_PATH_a3" Id="SSIS32_2019_PATH" Sequence="both" After="AppSearch" Value="[ProgramFilesFolder]\Microsoft SQL Server\150\DTS">SSIS32_2019_PATH=""</SetProperty>

		<!-- Detect folder for SQL 2017 x64 installation -->

		<Property Id="SSIS64_2017_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2017_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\SSIS\Setup\DTSPath" Win64="yes"/>
		</Property>
		<Property Id="SSIS64_2017_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS64_2017_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\DTS\Setup" Name="SQLPath" Win64="yes"/>
		</Property>

		<Property Id="SSIS64_2017_PATH" Secure="yes" />
		<SetProperty Action="SSIS64_2017_PATH_a" Id="SSIS64_2017_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS64_2017_PATH_a1" Id="SSIS64_2017_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2017_PATH_1]">SSIS64_2017_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2017_PATH_a2" Id="SSIS64_2017_PATH" Sequence="both" After="AppSearch" Value="[SSIS64_2017_PATH_2]">SSIS64_2017_PATH=""</SetProperty>
		<SetProperty Action="SSIS64_2017_PATH_a3" Id="SSIS64_2017_PATH" Sequence="both" After="AppSearch" Value="[ProgramFiles64Folder]\Microsoft SQL Server\140\DTS">SSIS64_2017_PATH=""</SetProperty>

		<!-- Detect folder for SQL 2017 x86 installation -->

		<Property Id="SSIS32_2017_PATH_1" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2017_PATH_p1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2017_PATH_2" Secure="yes">
			<RegistrySearch Type="directory" Id="SSIS32_2017_PATH_p2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\DTS\Setup" Name="SQLPath" Win64="no"/>
		</Property>
		<Property Id="SSIS32_2017_PATH" Secure="yes" />
		<SetProperty Action="SSIS32_2017_PATH_a" Id="SSIS32_2017_PATH" Sequence="both" After="AppSearch" Value=""/>
		<SetProperty Action="SSIS32_2017_PATH_a1" Id="SSIS32_2017_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2017_PATH_1]">SSIS32_2017_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2017_PATH_a2" Id="SSIS32_2017_PATH" Sequence="both" After="AppSearch" Value="[SSIS32_2017_PATH_2]">SSIS32_2017_PATH=""</SetProperty>
		<SetProperty Action="SSIS32_2017_PATH_a3" Id="SSIS32_2017_PATH" Sequence="both" After="AppSearch" Value="[ProgramFilesFolder]\Microsoft SQL Server\140\DTS">SSIS32_2017_PATH=""</SetProperty>

		<!-- At this point we have discovered the SQL Server SSIS path locations -->

		<!-- The following attempts to detect if SSIS or SSDT's is installed -->

		<Property Id="SSIS64_2025" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS64_2025_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\DTS\Setup" Name="Edition" Win64="yes"/>
			<RegistrySearch Type="raw" Id="SSIS64_2025_2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\SSIS\Setup\DTSPath" Win64="yes"/>
			<!--<RegistrySearch Type="raw" Id="SSIS64_2025_2" Root="HKCR" Key="IntegrationServices.Package.170" Win64="yes"/> -->
		</Property>

		<Property Id="SSIS32_2025" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS32_2025_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\DTS\Setup" Name="Edition" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2025_2" Root="HKCR" Key="IntegrationServices.Package.170" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2025_3" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\170\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>

		<Property Id="SSIS64_2022" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS64_2022_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\DTS\Setup" Name="Edition" Win64="yes"/>
			<RegistrySearch Type="raw" Id="SSIS64_2022_2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\SSIS\Setup\DTSPath" Win64="yes"/>
			<!--<RegistrySearch Type="raw" Id="SSIS64_2022_2" Root="HKCR" Key="IntegrationServices.Package.160" Win64="yes"/> -->
		</Property>

		<Property Id="SSIS32_2022" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS32_2022_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\DTS\Setup" Name="Edition" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2022_2" Root="HKCR" Key="IntegrationServices.Package.160" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2022_3" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\160\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>

		<Property Id="SSIS64_2019" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS64_2019_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\DTS\Setup" Name="Edition" Win64="yes"/>
			<RegistrySearch Type="raw" Id="SSIS64_2019_2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\SSIS\Setup\DTSPath" Win64="yes"/>
			<!--<RegistrySearch Type="raw" Id="SSIS64_2019_2" Root="HKCR" Key="IntegrationServices.Package.150" Win64="yes"/> -->
		</Property>

		<Property Id="SSIS32_2019" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS32_2019_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\DTS\Setup" Name="Edition" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2019_2" Root="HKCR" Key="IntegrationServices.Package.150" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2019_3" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\150\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>

		<Property Id="SSIS64_2017" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS64_2017_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\DTS\Setup" Name="Edition" Win64="yes"/>
			<RegistrySearch Type="raw" Id="SSIS64_2017_2" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\SSIS\Setup\DTSPath" Win64="yes"/>
			<!--<RegistrySearch Type="raw" Id="SSIS64_2017_2" Root="HKCR" Key="IntegrationServices.Package.140" Win64="yes"/> -->
		</Property>

		<Property Id="SSIS32_2017" Secure="yes">
			<RegistrySearch Type="raw" Id="SSIS32_2017_1" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\DTS\Setup" Name="Edition" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2017_2" Root="HKCR" Key="IntegrationServices.Package.140" Win64="no"/>
			<RegistrySearch Type="raw" Id="SSIS32_2017_3" Root="HKLM" Key="SOFTWARE\Microsoft\Microsoft SQL Server\140\SSIS\Setup\DTSPath" Win64="no"/>
		</Property>

		<Condition Message="You need to be an administrator to install this product.">
			Privileged
		</Condition>

		<Directory Id="TARGETDIR" Name="SourceDir">

			<!-- The following setup the Global Assembley Cache file drop components. -->

			<Component Id="SQL2025GAC" Guid="48CE3186-F22C-4B3F-B2EC-354E7C0F2025">
				<File Id="SQL2025DLLGAC" Name="$(var.MultipleHash2025.TargetFileName)" Source="$(var.MultipleHash2025.TargetPath)" Assembly=".net" KeyPath="yes" Checksum="yes"/>
			</Component>

			<Component Id="SQL2022GAC" Guid="48CE3186-F22C-4B3F-B2EC-354E7C0F2022">
				<File Id="SQL2022DLLGAC" Name="$(var.MultipleHash2022.TargetFileName)" Source="$(var.MultipleHash2022.TargetPath)" Assembly=".net" KeyPath="yes" Checksum="yes"/>
			</Component>

			<Component Id="SQL2019GAC" Guid="48CE3186-F22C-4B3F-B2EC-354E7C0F2019">
				<File Id="SQL2019DLLGAC" Name="$(var.MultipleHash2019.TargetFileName)" Source="$(var.MultipleHash2019.TargetPath)" Assembly=".net" KeyPath="yes" Checksum="yes"/>
			</Component>

			<Component Id="SQL2017GAC" Guid="48CE3186-F22C-4B3F-B2EC-354E7C0FC590">
				<File Id="SQL2017DLLGAC" Name="$(var.MultipleHash2017.TargetFileName)" Source="$(var.MultipleHash2017.TargetPath)" Assembly=".net" KeyPath="yes" Checksum="yes"/>
			</Component>

			<!-- The following defines the components to install the DLL's and the upgrade and extension xml files. -->

			<Directory Id="SSIS64_2025_PATH" Name="SSIS64_2025_PATH">
				<Directory Id="SQL2025x64Pipeline" Name="PipelineComponents">
					<Component Id="SQL2025x64DLL" Guid="BDAD0907-6F42-4071-B8E9-E150AB642025" Win64="yes">
						<File Id="SQL2025x64DLLFile" Name="$(var.MultipleHash2025.TargetFileName)" Source="$(var.MultipleHash2025.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2025x64Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2025x64UpgradeMapping" Guid="BBD70133-06D1-448D-A180-3D6BF2D42025" Win64="yes">
						<File Id="SQL2025x64UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2025.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2025x64UpgradeMappingExtension" Guid="522058DE-31B0-4AD3-98A4-C8E90EBA2025" Win64="yes">
						<File Id="SQL2025x64UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2025.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS32_2025_PATH" Name="SSIS32_2025_PATH">
				<Directory Id="SQL2025x32Pipeline" Name="PipelineComponents">
					<Component Id="SQL2025x32DLL" Guid="790737AD-F0A9-41B9-8BE4-99F111D12025" Win64="no">
						<File Id="SQL2025x32DLLFile" Name="$(var.MultipleHash2025.TargetFileName)" Source="$(var.MultipleHash2025.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2025x32Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2025x32UpgradeMapping" Guid="B50C3E05-69FD-48F1-95DF-C24216EB2025" Win64="no">
						<File Id="SQL2025x32UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2025.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2025x32UpgradeMappingExtension" Guid="2E5A5059-4D9B-4D9A-8449-AC5DE58E2025" Win64="no">
						<File Id="SQL2025x32UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2025.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS64_2022_PATH" Name="SSIS64_2022_PATH">
				<Directory Id="SQL2022x64Pipeline" Name="PipelineComponents">
					<Component Id="SQL2022x64DLL" Guid="BDAD0907-6F42-4071-B8E9-E150AB642022" Win64="yes">
						<File Id="SQL2022x64DLLFile" Name="$(var.MultipleHash2022.TargetFileName)" Source="$(var.MultipleHash2022.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2022x64Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2022x64UpgradeMapping" Guid="BBD70133-06D1-448D-A180-3D6BF2D42022" Win64="yes">
						<File Id="SQL2022x64UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2022.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2022x64UpgradeMappingExtension" Guid="522058DE-31B0-4AD3-98A4-C8E90EBA2022" Win64="yes">
						<File Id="SQL2022x64UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2022.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS32_2022_PATH" Name="SSIS32_2022_PATH">
				<Directory Id="SQL2022x32Pipeline" Name="PipelineComponents">
					<Component Id="SQL2022x32DLL" Guid="790737AD-F0A9-41B9-8BE4-99F111D12022" Win64="no">
						<File Id="SQL2022x32DLLFile" Name="$(var.MultipleHash2022.TargetFileName)" Source="$(var.MultipleHash2022.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2022x32Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2022x32UpgradeMapping" Guid="B50C3E05-69FD-48F1-95DF-C24216EB2022" Win64="no">
						<File Id="SQL2022x32UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2022.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2022x32UpgradeMappingExtension" Guid="2E5A5059-4D9B-4D9A-8449-AC5DE58E2022" Win64="no">
						<File Id="SQL2022x32UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2022.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS64_2019_PATH" Name="SSIS64_2019_PATH">
				<Directory Id="SQL2019x64Pipeline" Name="PipelineComponents">
					<Component Id="SQL2019x64DLL" Guid="BDAD0907-6F42-4071-B8E9-E150AB642019" Win64="yes">
						<File Id="SQL2019x64DLLFile" Name="$(var.MultipleHash2019.TargetFileName)" Source="$(var.MultipleHash2019.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2019x64Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2019x64UpgradeMapping" Guid="BBD70133-06D1-448D-A180-3D6BF2D42019" Win64="yes">
						<File Id="SQL2019x64UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2019.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2019x64UpgradeMappingExtension" Guid="522058DE-31B0-4AD3-98A4-C8E90EBA2019" Win64="yes">
						<File Id="SQL2019x64UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2019.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS32_2019_PATH" Name="SSIS32_2019_PATH">
				<Directory Id="SQL2019x32Pipeline" Name="PipelineComponents">
					<Component Id="SQL2019x32DLL" Guid="790737AD-F0A9-41B9-8BE4-99F111D12019" Win64="no">
						<File Id="SQL2019x32DLLFile" Name="$(var.MultipleHash2019.TargetFileName)" Source="$(var.MultipleHash2019.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2019x32Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2019x32UpgradeMapping" Guid="B50C3E05-69FD-48F1-95DF-C24216EB2019" Win64="no">
						<File Id="SQL2019x32UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2019.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2019x32UpgradeMappingExtension" Guid="2E5A5059-4D9B-4D9A-8449-AC5DE58E2019" Win64="no">
						<File Id="SQL2019x32UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2019.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS64_2017_PATH" Name="SSIS64_2017_PATH">
				<Directory Id="SQL2017x64Pipeline" Name="PipelineComponents">
					<Component Id="SQL2017x64DLL" Guid="BDAD0907-6F42-4071-B8E9-E150AB64F36C" Win64="yes">
						<File Id="SQL2017x64DLLFile" Name="$(var.MultipleHash2017.TargetFileName)" Source="$(var.MultipleHash2017.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2017x64Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2017x64UpgradeMapping" Guid="BBD70133-06D1-448D-A180-3D6BF2D4F405" Win64="yes">
						<File Id="SQL2017x64UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2017.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2017x64UpgradeMappingExtension" Guid="522058DE-31B0-4AD3-98A4-C8E90EBA4C16" Win64="yes">
						<File Id="SQL2017x64UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2017.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

			<Directory Id="SSIS32_2017_PATH" Name="SSIS32_2017_PATH">
				<Directory Id="SQL2017x32Pipeline" Name="PipelineComponents">
					<Component Id="SQL2017x32DLL" Guid="790737AD-F0A9-41B9-8BE4-99F111D14024" Win64="no">
						<File Id="SQL2017x32DLLFile" Name="$(var.MultipleHash2017.TargetFileName)" Source="$(var.MultipleHash2017.TargetPath)"  Checksum="yes"/>
					</Component>
				</Directory>
				<Directory Id="SQL2017x32Upgrade" Name="UpgradeMappings">
					<Component Id="SQL2017x32UpgradeMapping" Guid="B50C3E05-69FD-48F1-95DF-C24216EB6FC5" Win64="no">
						<File Id="SQL2017x32UpgradeFile" Name="SSISMHash.xml" Source="$(var.MultipleHash2017.ProjectDir)\SSISMHash.xml" Checksum="yes"/>
					</Component>
					<Component Id="SQL2017x32UpgradeMappingExtension" Guid="2E5A5059-4D9B-4D9A-8449-AC5DE58E7B8D" Win64="no">
						<File Id="SQL2017x32UpgradeFileExtension" Name="SSISMHash.extensions.xml" Source="$(var.MultipleHash2017.ProjectDir)\SSISMHash.extensions.xml" Checksum="yes"/>
					</Component>
				</Directory>
			</Directory>

		</Directory>


		<!-- The following defines the actual installer, using all the definitions above. -->

		<Feature Id="Complete" Level="1" Title="Multiple Hash Installer" Description="An SSIS Component to Calculate Hash values in the data flow" Display="expand">
			<Feature Id="SQL2025" Level="1" Title="SQL 2025">
				<Feature Id="SQL2025x64" Level="1" Title="x64" ConfigurableDirectory="SSIS64_2025_PATH">
					<ComponentRef Id="SQL2025x64DLL"/>
					<ComponentRef Id="SQL2025x64UpgradeMapping"/>
					<ComponentRef Id="SQL2025x64UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS64_2025</Condition>
				</Feature>
				<Feature Id="SQL2025x32" Level="1" Title="x86" ConfigurableDirectory="SSIS32_2025_PATH">
					<ComponentRef Id="SQL2025x32DLL"/>
					<ComponentRef Id="SQL2025x32UpgradeMapping"/>
					<ComponentRef Id="SQL2025x32UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS32_2025</Condition>
				</Feature>
				<ComponentRef Id="SQL2025GAC" />
				<Condition Level="1004">NOT (SSIS32_2025 OR SSIS64_2025)</Condition>
			</Feature>
			<Feature Id="SQL2022" Level="1" Title="SQL 2022">
				<Feature Id="SQL2022x64" Level="1" Title="x64" ConfigurableDirectory="SSIS64_2022_PATH">
					<ComponentRef Id="SQL2022x64DLL"/>
					<ComponentRef Id="SQL2022x64UpgradeMapping"/>
					<ComponentRef Id="SQL2022x64UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS64_2022</Condition>
				</Feature>
				<Feature Id="SQL2022x32" Level="1" Title="x86" ConfigurableDirectory="SSIS32_2022_PATH">
					<ComponentRef Id="SQL2022x32DLL"/>
					<ComponentRef Id="SQL2022x32UpgradeMapping"/>
					<ComponentRef Id="SQL2022x32UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS32_2022</Condition>
				</Feature>
				<ComponentRef Id="SQL2022GAC" />
				<Condition Level="1004">NOT (SSIS32_2022 OR SSIS64_2022)</Condition>
			</Feature>
			<Feature Id="SQL2019" Level="1" Title="SQL 2019">
				<Feature Id="SQL2019x64" Level="1" Title="x64" ConfigurableDirectory="SSIS64_2019_PATH">
					<ComponentRef Id="SQL2019x64DLL"/>
					<ComponentRef Id="SQL2019x64UpgradeMapping"/>
					<ComponentRef Id="SQL2019x64UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS64_2019</Condition>
				</Feature>
				<Feature Id="SQL2019x32" Level="1" Title="x86" ConfigurableDirectory="SSIS32_2019_PATH">
					<ComponentRef Id="SQL2019x32DLL"/>
					<ComponentRef Id="SQL2019x32UpgradeMapping"/>
					<ComponentRef Id="SQL2019x32UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS32_2019</Condition>
				</Feature>
				<ComponentRef Id="SQL2019GAC" />
				<Condition Level="1004">NOT (SSIS32_2019 OR SSIS64_2019)</Condition>
			</Feature>
			<Feature Id="SQL2017" Level="1" Title="SQL 2017">
				<Feature Id="SQL2017x64" Level="1" Title="x64" ConfigurableDirectory="SSIS64_2017_PATH">
					<ComponentRef Id="SQL2017x64DLL"/>
					<ComponentRef Id="SQL2017x64UpgradeMapping"/>
					<ComponentRef Id="SQL2017x64UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS64_2017</Condition>
				</Feature>
				<Feature Id="SQL2017x32" Level="1" Title="x86" ConfigurableDirectory="SSIS32_2017_PATH">
					<ComponentRef Id="SQL2017x32DLL"/>
					<ComponentRef Id="SQL2017x32UpgradeMapping"/>
					<ComponentRef Id="SQL2017x32UpgradeMappingExtension"/>
					<Condition Level="1004">NOT SSIS32_2017</Condition>
				</Feature>
				<ComponentRef Id="SQL2017GAC" />
				<Condition Level="1004">NOT (SSIS32_2017 OR SSIS64_2017)</Condition>
			</Feature>
		</Feature>

		<!-- Display a Warning dialog box IF SSIS isn't detected.  And don't forget to update the or statement below to include newer versions of SQL Server SSIS when added above. -->
		<UI>
			<InstallUISequence>
				<Show Dialog="SSISWarning" Before="ResumeDlg">NOT Installed AND NOT (SSIS32_2025 OR SSIS64_2025 OR SSIS32_2022 OR SSIS64_2022 OR SSIS32_2019 OR SSIS64_2019 OR SSIS32_2017 OR SSIS64_2017)</Show>
			</InstallUISequence>
			<Dialog Id="SSISWarning" Width="200" Height="100">
				<Control Type="Text" Id="text1" Width="194" Height="14" X="4" Y="8" Text="SQL Server Integration Services was not detected" />
				<Control Type="Text" Id="text2" Width="151" Height="12" X="4" Y="22" Text="Use Custom Install to install." />
				<Control Type="PushButton" Id="OK" Width="56" Height="17" X="68" Y="56" Text="OK">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>
		</UI>

	</Product>
</Wix>